:root{
  --budy-bg: #F1F4FF;
--green: #4DC490;
--purple:#655AF2;
--red:#F03535;
}

html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"inter","arial", serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--budy-bg);
  color: #000;

}


img{
  max-width: 100%;
  height: auto;

}

*:focus{
  outline: 2px dashed var(--purple);
  outline-offset: 2px;
}

.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
}
.course-name-wrapper{
  width: 178px;
  padding: 5px 15px;
  opacity: 0.8;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 41px;
  margin-bottom: 65px;
}

.course-name{

  width: 148px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;

}
.site-heading {
  display: flex;
padding-top: 50px;

}
.site-heading-section-div {
  width: 570px;
  height: 560px;
  padding-top: 60px;
  padding-left: 60px;
  border-radius:20px 20px 0px 0px;
  background-color: #222;
  background-image: url(../img/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}

.site-heading-header {
  width: 389px;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 25px;
}
.site-heading-text {
  width: 347px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}
.site-heading-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 80px;
  background-color: var(--green);
  border-radius: 0px 0px 20px 20px;

}

.site-heading-footer-text{
  text-decoration: none;
  width: 281px;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
}

/* form */

.form-section{
  width: 570px;
  min-height: 640px;
  margin-left: 12px;
  padding-left: 60px;
  background-color: #fff;
  border-radius: 20px;
}
.form-section-header {
  width: 428px;
  margin: 0;
  margin-top: 55px;
  margin-right: 82px;
  margin-bottom: 79px;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  color: #000;
}

.form {
  margin-right: 60px;
}

.form-input-wrapper:not(:last-child){
  margin-bottom: 35px;
}

.form-input {
  width: 450px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border:0;
  padding: 0;
  padding-bottom: 11px;
  border-bottom: 1px solid #000;
}



.form-input::placeholder{
  width: 450px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border:0;
  padding: 0;
  padding-bottom: 11px;
  border-bottom: 1px solid #555;
}

.form-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  font-weight: 600;
  line-height: 19px;
  color: #FFFFFF;
  padding: 20px;
  /* height: 59px; */
  background: var(--purple);
  border-radius: 10px;
  border:0;
}

.form-button:hover{
  background-color:#3A2BF8;
}


.form-section-footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #555;

}

.underlined{
  margin-left: 5px;
  color: var(--red);
}